<form [formGroup]="form" class="flex flex-col w-1/3 mt-4 ml-4">
<mat-form-field>
  <mat-label>Ids</mat-label>
  <mat-select multiple formControlName="ids">
    @for(id of traineeId;track id){
      <mat-option [value]="id">
        {{id}}
      </mat-option>
    }
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-label>Names</mat-label>
  <input matInput formControlName="names" />
</mat-form-field>
<div class="flex gap-3">
  <mat-checkbox formControlName="passed">passed</mat-checkbox>
  <mat-checkbox formControlName="failed">failed</mat-checkbox>
</div>
</form>
<mat-table mat-table [dataSource]="dataSource">
  @for(col of columnsTable;track col.key){
      <ng-container [matColumnDef]="col.key">
        <mat-header-cell *matHeaderCellDef>{{col.header}} </mat-header-cell>
        <mat-cell *matCellDef="let row">
          @if(col.isDecimal){
            {{row[col.key]|number:'1.2-2'}}
          }
          @else {
            {{row[col.key]}}
          }
        </mat-cell>
      </ng-container>
  }
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row;columns: displayedColumns;" class="!text-white"  [class]="row.average > 65?'!bg-green-600':'!bg-red-400'" ></mat-row>
</mat-table>
